@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Figtree', sans-serif;
}

/* index.css */
.custom-gradient {
  background: linear-gradient(90deg,
      rgb(120, 96, 252) 0%,
      rgb(33, 183, 222) 50%,
      rgb(127, 235, 140) 100%);
}

p,
span {
  font-size: 18px;
  font-family: 'Figtree', sans-serif;
}

a {
  color: #344054;
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  font-family: 'Figtree', sans-serif;
}

a:hover {
  color: rgb(102 98 183);
}

a svg path {
  stroke: #344054;
}

a svg path:hover {
  stroke: rgb(102 98 183);
}

a span {
  color: #344054;
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  font-family: 'Figtree', sans-serif;
}

button span {
  color: #344054;
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  font-family: 'Figtree', sans-serif;
}

button span:hover {
  cursor: pointer;
  color: rgb(102 98 183);
}

button svg path:hover {
  stroke: rgb(102 98 183);
}

button .apply-now:hover,
.top-btn svg path:hover {
  cursor: pointer;
  color: #344054;
}

.login-btn a {
  border-radius: 8px;
  font-size: 16px;
  font-weight: 600;
  font-family: 'Figtree', sans-serif;
  cursor: pointer;
}

.login-btn a:hover {
  background-color: rgb(249, 245, 255);
}

.login-btn a span {
  color: rgb(102 98 183);
  font-size: 16px;
  font-weight: 600;
  font-family: 'Figtree', sans-serif;
}

.course-card {
  border: 1px solid rgb(234, 236, 240);
  background-color: rgb(242, 244, 247);
}

.course-duration {
  padding: 4px 8px;
  display: flex;
  max-height: 28px;
  width: fit-content;
  height: fit-content;
  background: rgb(220, 223, 234);
  -webkit-box-align: center;
  align-items: center;
  border-radius: 1rem;
  border: none;
  gap: 0.25rem;
  font-size: 10px;
  line-height: 12px;
  font-weight: 500;
  font-family: 'Figtree', sans-serif;
  color: #344054;
}

.course-desc {
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
  color: rgb(66, 48, 125);
  font-size: 1.125rem;
  font-weight: 500;
  font-family: 'Figtree', sans-serif;
  line-height: 1.5rem;
  letter-spacing: 0em;
}

.course-date {
  margin-bottom: 0.5rem;
  padding-top: 0.25rem;
  color: rgb(71, 84, 103);
  font-size: 0.75rem;
  font-weight: 400;
  font-family: 'Figtree', sans-serif;
  line-height: 1rem;
  letter-spacing: 0em;
}

.course-date-next {
  color: rgb(52, 64, 84);
}

.course-btn {
  font-size: 12px;
  border-radius: 0.5rem;
  white-space: nowrap;
  font-weight: 600;
  cursor: pointer;
  transition: 0.4s ease-in-out;
  border: 0px;
  color: #5925dc;
}

@media (min-width: 1080px) {
  .course-desc {
    font-size: 1.25rem;
    line-height: 1.75rem;
    letter-spacing: 0em;
  }

  .course-date {
    font-size: 0.75rem;
    line-height: 1rem;
    letter-spacing: 0em;
  }

  .course-btn {
    height: 32px;
    font-size: 12px;
    padding: 0px 16px;
  }

}

.hero-left-content {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 1rem;
}

.hero-left-con-main {
  grid-column: span 12;
}

/* Hero Section Started */

.hero-banner {
  padding-top: 0px;
  padding-bottom: 32px;
  overflow: hidden;
  position: relative;
  background-image: linear-gradient(45deg, rgb(66, 48, 125) 0%, rgb(105, 65, 198) 100%);
  color: rgb(255, 255, 255);
}

.hero-img {
  position: absolute;
  width: 100%;
  height: 100%;
  inset: 0px;
  color: transparent;
}

.hero-img-1 {
  position: absolute;
  left: -330px;
  top: -179px;
  width: 490px;
  height: 490px;
}

.hero-img-2 {
  position: absolute;
  display: none;
  z-index: 1;
}

.hero-content {
  margin-left: 1rem;
  margin-right: 1rem;
}

.hero-main-img-con {
  z-index: 5;
  opacity: 1;
  transform: none;
  transform-origin: 75% 50% 0px;
}

.hero-main-img {
  display: none;
  position: absolute;
  z-index: 5;
}

.hero-left-con-main {
  grid-column: span 12;
}

.hero-left-con-main h1,
.hero-left-con-main .hero-left-con-main-span {
  margin-bottom: 24px;
  margin-top: 32px;
  color: white;
  font-size: 2rem;
  font-weight: 600;
  font-family: Figtree, sans-serif;
  line-height: 2.5rem;
  letter-spacing: 0em;
}

.hero-left-con-main-span {
  white-space: nowrap;
}

.hero-left-con-main p {
  margin-bottom: 32px;
  color: rgb(254, 223, 137);
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.25rem;
  letter-spacing: 0em;
}

.hero-btn-con {
  display: grid;
  grid-template-columns: max-content;
  gap: 16px;
}

.hero-btn-1 {
  background-color: rgb(255, 255, 255);
  color: rgb(29, 41, 57);
  border: 1px solid rgb(208, 213, 221);
  height: 48px;
  font-size: 16px;
  border-radius: 8px;
  white-space: nowrap;
  font-weight: 600;
  cursor: pointer;
  padding: 0px 24px;
  transition: 0.4s ease-in-out;
  display: inline-flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  border: 0px;
  font-family: inherit;
  width: 100%;
}

.hero-btn-2{
    background-color: rgb(127, 86, 217);
    color: rgb(255, 255, 255);
}

@media (min-width: 600px) {
  .hero-content {
    margin-left: auto;
    margin-right: auto;
    max-width: 600px;
  }
}

@media (min-width: 1080px) {
  .hero-banner {
    padding-top: 0px;
    border-radius: 1.5rem;
    padding-bottom: 64px;
  }

  .hero-img-1 {
    left: -330px;
    top: -344px;
    width: 490px;
    height: 490px;
  }

  .hero-img-2 {
    display: block;
    right: -127px;
    top: 622px;
    width: 490px;
    height: 490px;
  }

  .hero-content {
    margin-left: 5rem;
    margin-right: 5rem;
    max-width: none;
  }

  .hero-main-img {
    display: block;
    right: -52px;
    top: 80px;
    width: 513px;
    height: 504px;
  }

  .hero-left-con-main {
    grid-column: span 6;
  }

  .hero-left-con-main h1,
  .hero-left-con-main .hero-left-con-main-span {
    font-weight: 600;
    font-size: 3.875rem;
    line-height: 4.5rem;
    letter-spacing: -0.02em;
  }

  .hero-left-con-main p {
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1.75rem;
    letter-spacing: 0em;
  }

  .hero-btn-con {
    grid-template-columns: max-content max-content;
    margin-bottom: 3.5rem;
  }

  .hero-btn-1  {
    grid-row: 1;
}
}

@media screen and (min-width: 1080px) {

  .hero-left-con-main h1,
  .hero-left-con-main .hero-left-con-main-span {
    margin-bottom: 28px;
    margin-top: 28px;
  }
}

@media (min-width: 1368px) {
  .hero-banner {
    padding-top: 0px;
    padding-bottom: 120px;
  }

  .hero-content {
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
  }

  .hero-main-img {
    top: 67px;
    right: -80px;
    width: 613px;
    height: 604px;
  }

  .hero-btn-1 {
    height: 56px;
    font-size: 16px;
    border-radius: 8px;
    padding: 0px 28px;
}

.hero-btn-2 {
  height: 56px;
  font-size: 16px;
  border-radius: 8px;
  padding: 0px 28px;
}
}